body {
    background-color:#050505;
    background:radial-gradient(circle, rgba(30,32,34,1) 30%, rgba(82,97,107,1) 100%);
        display: grid;
        width: 1300px;
        margin: 0 auto;
    
}

.box{
    width: 350px;
    height: 300px;
    background:#ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

#hidden{
    display: none;
}

a{
    margin-top: 20px;
    font-weight: bold;
}

.box2{
    width: 350px;
    height: 300px;
    margin-top: 30px;
    background:#ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.box3{
    width: 350px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    background:#ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.box4{
    width: 350px;
    height: 300px;
    margin-top: 30px;
    background:#ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.day4{
    margin-top: 10px;
}
.fm{
    margin-top: 10px;
}
.ide{
    margin-top: 10px;
}

h1 {
    background-color:rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    font-family:Georgia;
    padding:2%;
}

p {
    margin: 200px;
    padding-left: 6px;
    color:#252973;
    font-family:Georgia;
}
li {
    color: rgb(72, 107, 160);
    font-family:Georgia;
}
h3 {
    color: #151525;
    font-family:Georgia;
}
.column1{
    background:rgb(16, 16, 16);
}
.column2{
    background:#666;
}
a{
    text-decoration: none;
    color:rgb(72, 72, 74);
}
h3 {
    color: #666;
    background-color: #050505;
    padding: 2%;
}
.nav {
    overflow: hidden;
    background-color: #333;
  }
  
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav a.active {
    background-color: #cdd0d1;
    color: rgb(0, 0, 0);
  }

